<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Edit Listing</h3>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required placeholder="Enter a Title" value="<%= listing.title %>"><br><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required placeholder="Enter a description"><%= listing.description %></textarea><br><br>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required placeholder="Enter Price" value="<%= listing.price %>"><br><br>

        <label for="image">Image URL:</label>
        <input type="text" id="image" name="image" placeholder="Enter Image URL" value="<%= listing.image %>"><br><br>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required placeholder="Enter Location" value="<%= listing.location %>"><br><br>

        <label for="country">Country:</label>
        <input type="text" id="country" name="country" required placeholder="Enter Country" value="<%= listing.country %>"><br><br>

        <button type="submit">Edit Listing</button>
    </form>
</body>
</html>